@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');



* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-image: url("./images/body-bg.jpg");
}

@keyframes leftToRightMove{
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes topDownMove{
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes downUpMove{
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #672D0A; */
    background-color: white;
    height: 670px;
    width: 94%;
    position: absolute;
    left: 3%;
    top: 3%;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.image-container {
    border-radius: 4px 0 0 4px;
    background-image: url("./images/img-bg.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode:lighten;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 670px;
}

.logo-container {
    animation: 500ms leftToRightMove;
    margin: 20px;
    display: flex;
    gap: 20px;
}

.quote-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.quote {
    animation: 500ms topDownMove;
    font-style: italic;
    text-align: justify;
    padding: 10px;
}

.quotee {
    animation: 500ms downUpMove;
    text-align: end;
    padding: 10px;
}

.form-container {
    margin: 20px;
    margin-top: 40px;
}

form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

label {
    font-size: 0.8rem;
    min-width: 49%;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input:focus {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.error {
    font-size: 0.6rem;
    color: red;
    margin-top: 5px;
}

.invalid {
    background-color: rgba(255, 0, 0, 0.3);
}

.names-container {
    display: flex;
    gap: 5px;
}

.coords-container {
    display: flex;
    gap: 5px;
}

.pass-container {
    display: flex;
    gap: 5px;
}

.button-container {
    display: flex;
}

#submit-button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 2px;
}

.active-button {
    background-color: #0ea5e9;
    color: white;
}

.active-button:hover {
    background-color: #0ea5e9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 50ms ease-in-out;
}

.login-container > p {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {

    form {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    }
    .names-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 120px;
    }
    
    .coords-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 120px;

    }
    
    .pass-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 120px;
    }

    .button-container {
        display: flex;
        height: 120px;
    }
  }